<% provide(:title, 'About') %>

    <h1>About me</h1>
    <p>
      I am learning rails bro! 
    </p>
    <p>Клип снимался в Лос-Анджелесе. Существуют две версии клипа, из одной вырезаны сцены насилия. На телевидении вышла отцензурированная версия, где были вырезаны сцена избиения, непристойный жест и кровь на простыне.

Волкова и Катина приезжают в ресторан с корейскими иероглифами, где беседуют и употребляют спиртные напитки. Между ними происходит конфликт, и Волкова покидает ресторан. Волкова идёт по ночной улице в наряде, напоминающем наряд проститутки. Она соглашается сесть в машину к молодому человеку, который привозит её на квартиру.

Они оказываются в постели, приступая к любовным ласкам. Однако молодой человек начинает действовать грубо, Волкова вырывается и показывает ему непристойный жест. В ответ он начинает наносить телесные повреждения, бросив её, в частности, на стеклянный столик. Волкова отползает в сторону и стреляет ему в лицо. Кровь и мозги последнего размазываются по висящей простыне. Волкова пинает труп и вылезает через окно на улицу, где к ней подъезжает Катина.
Список композиций
Европа

Maxi CD-Single — September 30, 2005

    All about us (Single Version)
    Divine (Non-LP Long Version)
    All about us (Stephane K Radio Mix)
    All about us (Uncensored Closed Captioned / Video)

2 Track CD-Single

    All about us (Single Version)
    Divine (Non-LP Long Version)

Япония

CD-Single — September 1, 2005

    All About Us
    All About Us (Instrumental/Karaoke)

Тайвань

Limited Edition Remixes Promo Single

    Dave Aude Big Room Vocal
    Dave Aude Vocal Edit
    Dave Aude Big Club Dub
    Dave Aude Big Mixshow
    Dave’s Acid Funk Dub
    Stephane K Radio Mix
    Stephane K Extended Mix
    Stephane K Guitar Dub Mix
    The Lovermakers Mix
    Glam As You Mix by Guena LG
    Glam As You Radio Mix by Guena LG
    Sunset In Ibiza Mix by Guena LG
    Sunset In Ibiza Radio Mix by Guena LG

Великобритания

Maxi CD-Single — September 26, 2005

    All About Us (Single Version)
    Divine (Non-LP Long Version)
    All About Us (The Aude' Vocal Edit)
    All About Us (Stephane K Radio Mix)
    All About Us (Edited Version/Closed Captioned)

Second Edition

    All About Us
    All The Things She Said

DVD Single

    All About Us Video (Uncensored Version)
    All About Us (Glam As You Mix By Guena LG)
    All About Us (The Lovemakers Mix)

All About Us (Remixes) — August 2005 (Promotional-CD only)

    All About Us (Dave Aude' Big Mixshow) (5:33)
    All About Us (Stephane K Extended Mix) (6:24)
    All About Us (Glam As You Mix by Gue’na LG) (6:26)
    All About Us (Dave’s Acid Funk Dub) (8:17)
    All About Us (Single Version) (3:02)

DVD Promo single

    Unsensored Video
    Edited Version

    </p>
