<% provide(:title, 'Contacts') %>
<h1>Contacts</h1>
<p>
<a href="http://infinite-savannah-3264.herokuapp.com/">FogBlog</a></p>
 <p>skype: FogFreek</p>
 <br />
 <p>Alexandr Mutskiy</p>
 <p>tel: +(420)775419656</p> 
