// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.postbox {
min-height: 180px;
max-height: 400px;
padding: 10, 10, 100, 10;
float: left;
/* for W3C-compliant browsers */
background-image: linear-gradient(top, rgba(202,20,42,1) 0%, rgba(225,227,21,1) 25%, rgba(248,236,0,1) 50%, rgba(251,239,0,1) 75%, rgba(1,242,0,1) 100%);
/* for Safari 5.03+ and Chrome 7+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(202,20,42,1)), color-stop(0.25, rgba(225,227,21,1)), color-stop(0.5, rgba(248,236,0,1)), color-stop(0.75, rgba(251,239,0,1)), color-stop(1, rgba(1,242,0,1)));
/* for Firefox 3.6+ */
background-image: -moz-linear-gradient(top, rgba(202,20,42,1) 0%, rgba(225,227,21,1) 25%, rgba(248,236,0,1) 50%, rgba(251,239,0,1) 75%, rgba(1,242,0,1) 100%);
/* for Opera 11.1+ */
background-image: -o-linear-gradient(top, rgba(202,20,42,1) 0%, rgba(225,227,21,1) 25%, rgba(248,236,0,1) 50%, rgba(251,239,0,1) 75%, rgba(1,242,0,1) 100%);
color: #800000;	
border-radius: 10px;
}